tr {
    height: 60px !important;
    vertical-align: bottom;
    border: none !important;

}

/* th {
    max-width: 125px;
    min-width: 125px;
    padding: 0 !important;
    overflow-x: auto;
    white-space: nowrap;
    text-align: left !important;
    vertical-align: middle;
    border: none !important;
} */

th {
    height: 60px !important;    
    text-align: left !important;
    vertical-align: middle !important;;
    border: none !important;
    background:#f8f9fa;
} 

td {
    height: 60px !important;    
    text-align: left !important;
    vertical-align: middle !important;;
    border: none !important;
}